#popular-items 
{
    text-align: center;
    padding: 40px 0;
}

.popular-grid 
{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);

}

.pop-card 
{
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background: #f9f9f9;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pop-card:hover 
{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.pop-card img 
{
    width: 100%;
    height: 220px; 
    object-fit: cover; 
    border-radius: 6px;
}

.add-cart-button
{
  margin-top:10px;
}

@media (max-width: 1000px) {
  .pop-card {
    max-width: 250px;
  }
  .pop-card img {
    height: 190px;
  }
}

@media (max-width: 800px) {
  .pop-card {
    max-width: 220px;
  }
  .pop-card img {
    height: 170px;
  }
}

@media (max-width: 600px) {
  .pop-card {
    max-width: 180px;
    font-size: 0.9rem;
  }
  .pop-card img {
    height: 150px;
  }
}
