#popular-items 
{
    text-align: center;
    padding: 40px 0;
}

.popular-grid 
{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);

}

.pop-card 
{
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background: white;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pop-card:hover 
{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.pop-card img 
{
    width: 100%;
    height: 220px; 
    object-fit: cover; 
    border-radius: 6px;
}

.add-cart-button
{
  margin-top:10px;
}

.admin-buttons 
{
  display: flex;
  gap: 8px;
  margin-top: 8px;
  background:white;
}

.admin-buttons button 
{
  padding: 4px 8px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 4px;
}

.add-item-btn 
{
  background-color: white;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 18px;
  transition: background-color 0.2s ease, transform 0.15s ease;
}

.add-item-btn:hover 
{
  background:white;
  transform: scale(1.03);
}

.add-item-btn:active 
{
  transform: scale(0.97);
}

.popup-overlay 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #333;
}

.popup input,
.popup textarea 
{
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid black;
  position: relative;
  right:10px;
}

.popup button[type="submit"] 
{
  background: white;
  position: relative;
  top:10px;
  color: black;
  padding: 8px;
  right:10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  height:30px;
  border:1px solid black;
}

.popup button[type="button"] 
{
  background: white;
  color: black;
  position: relative;
  top:10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  height:30px;
  border:1px solid black;
}


@media (max-width: 1000px) {
  .pop-card {
    max-width: 250px;
  }
  .pop-card img {
    height: 190px;
  }
}

@media (max-width: 800px) {
  .pop-card {
    max-width: 220px;
  }
  .pop-card img {
    height: 170px;
  }
}

@media (max-width: 600px) {
  .pop-card {
    max-width: 180px;
    font-size: 0.9rem;
  }
  .pop-card img {
    height: 150px;
  }
}
